<nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="h-6 w-6"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
      ></path>
    </svg>
  </button>
  <div class="nav-logo-mobile navbar-brand">
    <img
      src="assets\images\movie-client-logo.png"
      class="img-fluid"
      alt="MovieConnect Logo"
    />
    MovieConnect
  </div>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="container">
      <div class="nav-logo-desktop navbar-brand">
        <img
          src="assets\images\movie-client-logo.png"
          class="img-fluid"
          alt="MovieConnect Logo"
        />
        MovieConnect
      </div>

      <ul
        class="navbar-nav ml-auto nav-right"
        data-easing="easeInOutExpo"
        data-speed="1250"
        data-offset="65"
      >
        <li class="nav-item nav-custom-link btn btn-demo-small">
          <a class="nav-link" routerLink="/register"
            >Sign Up <i class="bi bi-chevron-right icon-mobile"></i
          ></a>
        </li>
        <li class="nav-item nav-custom-link">
          <a class="nav-link" routerLink="/login"
            >Sign In <i class="bi bi-chevron-right icon-mobile"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
