<nav class="navbar navbar-default navbar-expand-lg custom-navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      aria-hidden="true"
      class="h-6 w-6"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
      ></path>
    </svg>
  </button>
  <div class="nav-logo-mobile navbar-brand" [routerLink]="[homeLink]">
    <img
      src="assets\images\movie-client-logo.png"
      class="img-fluid"
      alt="MovieConnect Logo"
    />
    MovieConnect
  </div>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div id="container">
      <a class="nav-logo-desktop navbar-brand" [routerLink]="[homeLink]">
        <img
          src="assets\images\movie-client-logo.png"
          class="img-fluid"
          alt="MovieConnect Logo"
        />
        MovieConnect
      </a>

      <a *ngIf="!displayProfile" class="login-link" routerLink="/login">
        <i class="bi bi-box-arrow-in-right"></i>
        Login
      </a>
      <ng-container *ngIf="displayProfile">
        <app-landing-nav-links></app-landing-nav-links>
      </ng-container>
    </div>
  </div>
</nav>
