<div class="wrapper col-lg-11 text-center mx-auto col-12">
  <button
    type="button"
    role="presentation"
    class="onboarding-btns onboarding-prev"
  >
    <i class="bi bi-arrow-left-short"></i>
  </button>
  <div class="inner">
    <div class="onboarding-dots">
      <button role="button" class="onboarding-dot">
        <span></span>
      </button>
      <button role="button" class="onboarding-dot active">
        <span></span>
      </button>
      <button role="button" class="onboarding-dot">
        <span></span>
      </button>
      <button role="button" class="onboarding-dot">
        <span></span>
      </button>
    </div>
    <app-registration-onboarding-screen></app-registration-onboarding-screen>
    <!-- <app-registration-form></app-registration-form> -->
  </div>
  <button
    type="button"
    role="presentation"
    class="onboarding-btns onboarding-next"
  >
    <i class="bi bi-arrow-right-short"></i>
  </button>
</div>
