.onboarding-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.media {
  height: 7rem;
  margin: 32px auto;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 50%;
  border: 10px solid #fcc419;
}

.media img {
  width: 80px;
  height: 80px;
}

.title {
  font-weight: 700;
  font-size: 2em;
}

@media (max-height: 700px) {
  .media {
    margin: 25px auto;
  }
}
