<section id="community-wrapper">
  <div id="community-info">
    <h2 id="community-info-heading">People who like what you like</h2>
    <div id="community-info-items">
      <div class="community-info-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-people-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
          />
        </svg>
        <h3>Connection</h3>
        <p>Find someone who likes the things you already like.</p>
      </div>
      <div class="community-info-item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-camera-reels-fill"
          viewBox="0 0 16 16"
        >
          <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
          <path
            d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z"
          />
        </svg>
        <h3>Movies</h3>
        <p>Meet people through the movies you’re already watching.</p>
      </div>
    </div>
  </div>
</section>
