#community-wrapper {
  color: inherit;
  direction: ltr;
  line-height: 1.34;
  font-size: 12px;
  font-family: inherit;
  position: relative;
  padding: 128px 0;
  padding-left: 28px;
  padding-right: 28px;
}

#community-info {
  margin: 0 auto;
  max-width: 1200px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#community-info-heading {
  margin: 0;
  padding: 0;
  line-height: 60px;
  margin-bottom: 20px;
  font-weight: 600 !important;
  margin-right: 20px;
  color: #003b4d;
  text-align: center;
  font-size: 1.55rem;
}

#community-info-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 1.25rem;
}

.community-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-evenly;
  width: clamp(312px, 100%, 360px);
  text-align: center;
  padding: 40px 20px;
  border: 1px solid #f8f9fb;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 rgba(0, 12, 32, 0.04),
    0 10px 16px 0 rgba(10, 31, 68, 0.06);
  margin-top: 30px;
}

.community-info-item svg {
  width: 3rem;
  height: 3rem;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 8px;
  background-color: #fcc419;
  color: #ffffff;
}

.community-info-item h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 600 !important;
}

.community-info-item p {
  font-weight: 300 !important;
  font-size: 21px;
  line-height: 29px;
}

/* ==============================================
   9. Media Queries
===============================================*/

/* Desktop hero styles */

@media (max-width: 580px) {
  .community-info-item {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .community-info-item h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .community-info-item {
    padding: 30px 20px;
    margin: 0px;
  }
  .community-info-item p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  #community-wrapper {
    padding: 64px 0;
  }
  #community-info-heading {
    margin-right: 0px;
  }
}

/* Desktop hero styles */
@media (min-width: 768px) {
  #community-info-heading {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  #community-info-heading {
    font-size: 3.75rem;
    line-height: 1;
  }
}
