<div class="wrapper">
  <div class="inner">
    <form action="">
      <h3>Login</h3>
      <div class="form-wrapper">
        <input type="text" placeholder="Username" class="form-control" />
        <i class="bi bi-person-fill"></i>
      </div>
      <div class="form-wrapper">
        <input type="password" placeholder="Password" class="form-control" />
        <i class="bi bi-key-fill"></i>
      </div>
      <button>
        Login
        <i class="bi bi-box-arrow-in-right"></i>
      </button>
    </form>
  </div>
</div>
