<div id="footer-container">
  <hr />
  <div id="footer">
    <span
      >© 2023 MovieConnect™. All Rights Reserved <br id="text-break" />
      <span id="divider">| </span>Icons by
      <a
        style="color: #ca9b01; text-decoration: underline"
        href="https://lordicon.com/"
        >Lordicon
      </a>
    </span>
    <div>
      <i class="bi bi-briefcase-fill"></i>
      <i class="bi bi-github"></i>
      <i class="bi bi-linkedin"></i>
      <i class="bi bi-twitter"></i>
    </div>
  </div>
</div>
