* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea,
.button {
  font-family: inherit;
  color: #374151;
  font-size: 13px;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: #fff;
}

.wrapper {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 1.5rem;
}

@media (max-width: 1199px) {
  .wrapper {
    background-position: right center;
  }
}

.col {
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

@media (max-width: 479px) {
  .center {
    margin: 0 0;
  }
}
