* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: inherit;
  color: #374151;
  font-size: 13px;
  margin: 0;
}

input,
textarea,
select,
.button {
  font-family: inherit;
  color: #374151;
  font-size: 13px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: #fff;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-direction: row;
}

.inner {
  padding: 20px;
  padding-top: 0px;
  background: #fff;
  width: clamp(calc(100vw - 40px), 100%, 451px);
  max-width: 451px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 3px 25px 2px #ccc;
  border: 2.5px solid whitesmoke;
  border-right-color: #fcc419;
  border-top: transparent;
  margin: 20px;
  position: relative;
  height: clamp(calc(100vh - 40px), 100%, 707px);
  min-height: 707px;
}

.onboarding-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 2px 0;
  background-color: #ffc200;
  width: calc(100% + 2.5px);
  position: absolute;
  top: 0;
  right: 0;
  left: -2.5px;
}
.onboarding-btns,
.onboarding-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.onboarding-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 6px;
  /* background: #d6d6d6; */
  background: #ffffff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.onboarding-dot-active span {
  background: #b3b3b3;
}

.onboarding-btns i {
  font-size: 75px;
}

.onboarding-btns i:hover {
  color: #ffc200;
}

form {
  width: 100%;
  padding-top: 16px;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: inherit;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 14px;
}

.form-group {
  display: flex;
}

.form-group input,
.form-group select {
  width: 50%;
}

.form-group input:first-child,
.form-group select:first-child {
  margin-right: 25px;
}

.form-wrapper {
  position: relative;
}

.form-wrapper i {
  position: absolute;
  bottom: 9px;
  right: 0;
}

i {
  font-size: 12px;
}

.form-control {
  border: 1px solid #374151;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
  border-radius: 0px;
}

.form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #374151;
  font-family: inherit;
}

.form-control::-moz-placeholder {
  font-size: 13px;
  color: #374151;
  font-family: inherit;
}

.form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #374151;
  font-family: inherit;
}

.form-control:-moz-placeholder {
  font-size: 13px;
  color: #374151;
  font-family: inherit;
}

.form-control:focus {
  box-shadow: none;
}

select {
  appearance: auto;
  cursor: pointer;
  padding-left: 20px;
}

select option[value=""][disabled] {
  display: none;
}

.button {
  border: none;
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #374151;
  font-size: 17px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 8px !important;
}

@media (max-width: 1199px) {
  .wrapper {
    background-position: right center;
  }
}

@media (max-width: 991px) {
  form {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .onboarding-dots {
    padding: 2px 0;
  }
}

@media (max-width: 767px) {
  form {
    width: 100%;
    padding: 10px 0 5px;
  }

  .button {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  /* .inner {
    display: block;
  } */
}

@media (max-width: 626px) {
  .inner {
    width: clamp(calc(100vw - 40px), 100%, 437px);
    max-width: 437px;
  }
  .onboarding-btns {
    display: none;
  }
}

.col {
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

@media (max-width: 479px) {
  .center {
    margin: 0 0;
  }
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  border: 10px solid #fcc419;
  margin-bottom: 15px;
}

.img-wrap {
  position: relative;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
}

.img-upload:before {
  content: "\1f4f7";
  font-size: 60px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  transition: 0.5s ease;
  background-color: #fff;
}

.img-upload:hover:before {
  content: "\1f4f8";
}

.new-img-upload {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7rem 7rem;
}

.new-img-upload:before {
  content: none;
}

.new-img-upload:hover:before {
  content: none;
}

input[type="file"] {
  display: none;
}

#photo-upload {
  border: 0px;
  border-bottom: 3px solid #fcc419;
  height: 100%;
  text-transform: uppercase;
  outline: 0px;
}

@media (max-height: 558px) {
  .inner {
    height: 520px;
  }
}

@media (max-height: 920px) {
  .inner {
    min-height: calc(100vh - 235px);
  }
}

@media (max-height: 800px) {
  .form-control {
    margin-bottom: 15px;
  }

  .form-group input:first-child,
  .form-group select:first-child {
    margin-right: 15px;
  }

  /* .img-upload:before {
    font-size: 40px;
    width: 5rem;
    height: 5rem;
  }
  .new-img-upload {
    background-size: 5rem 5rem;
  }
  .img-wrap {
    position: relative;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
  } */

  .onboarding-dots {
    padding: 2px 0;
  }

  form {
    padding-top: 10px;
  }
}
