<section class="marketing-wrapper">
  <div class="marketing-content-container">
    <div class="marketing-content-header">
      <h1>{{ title }}</h1>
      <p>
        {{ description }}
      </p>
    </div>
    <div class="marketing-content-article">
      <div
        *ngFor="let feature of features"
        class="marketing-content-article-items"
      >
        <div class="item-icon">
          <img
            src="{{ feature.iconUrl }}"
            alt="{{ 'Image of' + feature.title }}"
          />
        </div>
        <h3>{{ feature.title }}</h3>
        <p>
          {{ feature.description }}
        </p>
      </div>
    </div>
  </div>
  <div class="marketing-image-container"></div>
</section>
