#marketing-wrapper {
  font-family: inherit;
  padding: 35px 0;
  background: linear-gradient(to bottom, #003b4d 0%, #38bdf8 100%);
  padding-left: 28px;
  padding-right: 28px;
}

#marketing-container {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  font-family: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#marketing-info {
  padding-top: 7rem;
  padding-bottom: 7rem;
  flex: 0 0 auto;
  width: 58.33333333%;
}
#marketing-info h2 {
  direction: ltr;
  margin: 0;
  padding: 0;
  line-height: 60px;
  margin-bottom: 20px;
  font-weight: 600 !important;
  color: #fff;
}
#marketing-info p {
  direction: ltr;
  margin: 1em 0;
  font-weight: normal !important;
  margin-bottom: 40px;
  font-size: 1.5rem;
  line-height: 35px;
  color: #fff;
}

svg {
  height: 320px;
  width: clamp(312px, 100%, 460px);
}

/* Desktop hero styles */
@media (max-width: 768px) {
  #marketing-info h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  #marketing-info p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  svg {
    height: 210px;
    width: clamp(312px, 100%, 360px);
  }
  #marketing-info {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

/* Desktop hero styles */
@media (min-width: 768px) {
  #marketing-info h2 {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  #marketing-info h2 {
    font-size: 3.15rem;
    line-height: 1;
  }
}

@media (max-width: 350px) {
  svg {
    height: 210px;
    width: 180px;
  }
}
