#hero-wrapper {
  font-family: inherit;
  padding: 35px 0;
  padding-left: 28px;
  padding-right: 28px;
}

#hero-container {
  margin: 0 auto;
  max-width: 1632px;
  display: flex;
  font-family: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

#hero-info {
  padding-top: 7rem;
  padding-bottom: 7rem;
  flex: 0 0 auto;
  width: 50;
  display: flex;
  flex-direction: column;
}

#hero-info h1 {
  margin-bottom: 1rem;
  font-size: 3.75rem;
  line-height: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  line-height: 1;
  color: #374151;
}

#hero-info p {
  letter-spacing: -0.025em;
  margin-bottom: 1px;
  font-weight: 500;
  font-weight: 600;
  color: #252525;
  font-size: 1.375rem;
}

#hero-info a {
  display: inline-flex;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #374151;
  margin-top: 20px;
  max-width: 127px;
}
#hero-info a:hover {
  opacity: 0.9;
}

#hero-info a i {
  margin-left: 3px;
}

#hero-img {
  height: 468px;
  width: clamp(312px, 100%, 460px);
  padding: 38px;
}

@media (max-width: 1038px) {
  #hero-info a {
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #hero-info {
    padding: 2.5rem 0;
    margin-right: 1rem;
  }
  #hero-info a i {
    margin-left: 5px;
    font-size: 17px;
  }
}

@media (max-width: 1033px) {
  #hero-img {
    padding-top: 3.5rem;
  }
}
@media (max-width: 580px) {
  #hero-info {
    margin-right: 0;
  }
  #hero-info h1 {
    font-size: 3rem;
  }

  #hero-img {
    padding: 0px;
    padding-top: 56px;
  }
}

@media (max-width: 470px) {
  #hero-info h1 {
    font-size: 2.4rem;
  }
  #hero-img {
    height: 360px;
    width: clamp(212px, 100%, 354px);
  }
}

@media (max-width: 370px) {
  #hero-info h1 {
    font-size: 2rem;
  }
  #hero-img {
    height: 280px;
    width: clamp(212px, 100%, 269px);
  }
  #hero-info p {
    font-size: 0.9rem;
  }

  #hero-info a {
    font-size: 0.75rem;
    padding: 0.45rem;
  }
}

@media (max-width: 305px) {
  #hero-info h1 {
    font-size: 1.8rem !important;
  }
  #hero-info p {
    font-size: 0.7rem;
  }

  #hero-info a {
    font-size: 0.65rem;
    padding: 0.35rem;
  }
}
